@import "../../partials/variables";
@import "../../partials/mixins";

.head {
  display: flex;
  box-shadow: 2px 4px 1px 1px rgba(0, 0, 0, 0.5);
  justify-content: space-between;
  background-color: $header-bg;

  &__logo {
    height: 7rem;
    width: 11rem;
    @include tablet {
      height: 9rem;
      width: 14rem;
    }
    @include desktop {
      height: 11rem;
      width: 18rem;
    }
  }
  &__text-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
  }
  &__text {
    @include tablet {
      font-size: 25px;
    }
  }
  &__text-link,
  :visited,
  :link {
    text-decoration: none;
    color: $main-bg;
    font-size: 25px;
    &:hover {
      font-weight: bold;
    }
  }
}
.is--active {
  border-bottom: 3px solid $link-active;
}
