// Colors
$text-color: #13182c;
$header-bg: #232940; //header bg
$in-stock-color: #158463;
$out-stock-color: #c94515;
$accent-one: #2e66e6;
$divider-color: #bdc5d5;
$page-bg: #f7f8f9;
$main-bg: #ffffff;
$link-active: #DCA84D;

// Sizes
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1200px;
$big-radius: 20px;
$small-radius: 3px;
$mobile-padding: 24px;
